.flexContainer {
  composes: sideBySideCenter from "styles/utils.module.css";
}

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  font-size: var(--display);
  font-weight: 700;
  letter-spacing: 0.075em;
}

.subtitle {
  font-size: var(--small-heading2);
}

/* image */
.image {
  width: 40%;
}

@media (min-width: 768px) {
  .image {
    display: none;
  }
}
